*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/bg-3.jpg);
    background-size: cover;
}
header{
    background: linear-gradient(
45deg
, #3c81a3, #2caf8b);
}
.logo img{
    height: 101px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;

}
.nav ul{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: white;
    font-size: 19px;
}
.nav ul li a:hover{
    color: rgb(75, 75, 75);
}
.nav ul li{
    display: inline-block;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.heading h1{
    background: linear-gradient(to left, #6912ab, #8d0563);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    filter: drop-shadow(11px 13px 6px black);
}
.para{
    display: flex;
    justify-content: center;
}
.para p{
    color: white;
    font-size: 30px;
    text-align: center;
    filter: drop-shadow(11px 14px 5px black);
}
.content{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top: 50px;
}
.col{
    background: #00000061;
    border-radius: 27px;
    overflow: hidden;
    display: flex;
    width: 45%;
    padding: 50px 10px;
    justify-content: space-around;
    filter: drop-shadow(11px 13px 6px black);
}
.col-1{
    width: 50%;
}
.col-1 ul li{
    line-height: 22px;
    color: white;
}
.col-1 h4{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-family: cursive;
    background: linear-gradient(to left, #0014ff, #00fff3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.col-1 h3{
    font-size: 14px;
    margin-top: 45px;
    background: linear-gradient(to right, #aaff03, #1eff03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.col-2 h3{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 19px;
    background: linear-gradient(to right, #aaff03, #1eff03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.col-3{
    background: #00000061;
    border-radius: 27px;
    overflow: hidden;
    display: flex;
    filter: drop-shadow(11px 13px 6px black);
}
.col-4{
    width: 67%;
    margin: auto;
}
.col-4 h4{
    font-size: 60px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
    background: linear-gradient(to left, #0014ff, #00fff3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.col-4 h3{
    font-size: 24px;
    margin-top: 50px;
    background: linear-gradient(to right, #aaff03, #1eff03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.col-4 h2{
    font-size: 24px;
    margin: 22px 0;
    background: linear-gradient(to right, #aaff03, #1eff03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.col-4 ul li{
    margin-bottom: 21px;
    line-height: 22px;
    color: white;
}
.col-4 ul{
    margin-bottom: 113px;
}
.col-4 ul li a{
    color: #05ffae;
}
.col-4 ul li a:hover{
    color: red;
}
.col-2 ul li{
    line-height: 3.5;
    color: white;
}
.content-2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}
.step-3{
    width: 45%;
    background: #00000061;
    border-radius: 27px;
    overflow: hidden;
    padding-bottom: 5%;
    padding-left: 44px;
    filter: drop-shadow(11px 13px 6px black);
}
.step-3 h2{
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-family: cursive;
    margin-top: 18px;
    background: linear-gradient(to right, #0014ff, #00fff3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.step-3 h4{
    font-size: 20px;
    margin-top: 46px;
    background: linear-gradient(to right, #aaff03, #1eff03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.step-3 ul li{
    padding: 13px 0;
    line-height: 20px;
    color: white;
}
.step-4{
    width: 45%;
    background: #00000061;
    border-radius: 27px;
    overflow: hidden;
    padding-bottom: 5%;
    padding-left: 44px;
    filter: drop-shadow(11px 13px 6px black);
}
.ee{
    filter: drop-shadow(11px 13px 6px black);
}
.step-4 ul li{
    padding: 13px 0;
    line-height: 20px;
    color: white;
}
.step-4 h4{
    font-size: 20px;
    margin-top: 46px;
    background: linear-gradient(to right, #aaff03, #1eff03);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.step-4 h2{
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-family: cursive;
    margin-top: 18px;
    background: linear-gradient(to right, #0014ff, #00fff3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.details{
    background-image: url(img/bg-10.jpg);
    background-size: cover;
    width: 80%;
    margin: 57px auto;
    padding: 50px 0;
    filter: drop-shadow(10px 12px 8px black);
    border-radius: 20px;
}
.content-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(6px
 4px 2px black);
}
.detail-2{
    display: flex;
    padding: 25px 0;
    line-height: 35px;
    color: white;
}
.inside-2{
    padding-left: 35px;
}
.detail-1 h4{
    font-size: 20px;
    font-family: cursive;
    background: linear-gradient(to right, #ff4075, #a900ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.detail-1 h4 a{
    padding-left: 6px;
}
.detail-3 h5{
    font-size: 20px;
    color: #fff705;
}
.info-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info-1 h3{
    font-size: 27px;
}
.info-2 h5{
    font-size: 20px;
    padding: 22px 0;
    color: #920192;
}
.info-3 p{
    font-size: 18px;
    color: #00f9ff;
}
.info-3{
    line-height: 33px;
}
.info-3 h2 a{
    padding-left: 12px;
    color: brown;
}
.info-3 h2 a:hover{
    color: blue;
    text-decoration: none;
}
.info{
    background: #e428e71f;
    width: 80%;
    margin: auto;
    border-radius: 35px;
    padding: 25px 0;
    filter: drop-shadow(2px 3px 5px white);
    margin-bottom: 20px;
}
.info-2 hr{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}
footer{
    background: linear-gradient(
45deg
, #c72eba, #4524cb);
    padding-top: 20px;
    filter: grayscale(1);
}
footer:hover{
    filter: grayscale(0);
}
.con img{
    height: 50px;
    padding-right: 17px;
}
.con a{
    color: white;
}
.con a:hover{
    color: tomato;
    text-decoration: none;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.log{
    display: flex;
    align-items: center;

}
.log img{
    padding: 0 4px;
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px; 
}
.text h1{
    font-size: 60px;
    margin-bottom: 17px;
    font-family: cursive;
    background: linear-gradient(to right, #bbc51f, #25b58d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.foot-2 p a{
    color: white;
}
.foot-2 p a:hover{
    color: tomato;
    text-decoration: none;
}
.foot-2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
footer hr{
    width: 87%;
    margin: auto;
    margin-top: 17px;
}
.para-2{
    display: flex;
    margin: 30px 0;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.para-2 p{
    color: white;
    font-size: 30px;
    text-align: center;
    filter: drop-shadow(11px 14px 5px black);
}
.para-3{
    display: flex;
    margin: 30px 0;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.para-3 h3{
    color: rgb(214, 214, 214);
    font-size: 30px;
    text-align: center;
    filter: drop-shadow(11px 14px 5px black);
}
.colu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}
.data{
    width: 96%;
    margin: auto;
}
.colu-1{
    background: #00000061;
    border-radius: 27px;
    filter: drop-shadow(11px 13px 6px black);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 17px 30px;
    margin: 0 1px;
}
.colu-1 h3{
    font-size: 40px;
    font-family: cursive;
    padding-bottom: 13px;
    color: #0d7a93;
}
.colu-1 p{
    font-size: 17px;
    line-height: 25px;
    color: white;
}
.colu-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.colu-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.colu-4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}
.colu-5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}
.colu-6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
.colu-7{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.colu-8{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}
.colu-9{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.colu-10{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}
.colu-tw{
    background: #00000061;
    border-radius: 27px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 17px 30px;
    filter: drop-shadow(11px 13px 6px black);
    margin: 0 1px;
}
.colu-tw h3{
    font-size: 40px;
    font-family: cursive;
    padding-bottom: 13px;
    color: #0d7a93;
}
.colu-tw p{
    font-size: 17px;
    line-height: 25px;
    color: white;
}
.colu-11{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}
.post-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}
.tx h1{
    font-size: 50px;
    background: linear-gradient(to left, #291fc5, #6325b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
    filter: drop-shadow(2px 4px 6px black);
}
.tx-2 h1{
    font-size: 50px;
    background: linear-gradient(to right, #bbc51f, #25b58d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}
.par p{
    font-size: 30px;
    color: rgb(195, 195, 195);
    font-family: cursive;
    filter: drop-shadow(2px 4px 6px black);
}
.po-im img{
    margin: 20px 0;
}
.example{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 80%;
    height: fit-content;
}
.swiper-slide img{
    width: 100%;
    height: 95vh;
}
.link{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: 30px auto;
    filter: drop-shadow(11px 13px 6px black);
    background: #00000061;
    border-radius: 23px;
    padding: 45px 0px;
}
.link-tx h4{
    font-size:25px;
    font-family: cursive;
    background: linear-gradient(to left, #291fc5, #6325b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link-tx-2 a{
    font-size: 30px;
    font-family: cursive;
}
.link-tx-2{
    margin: 12px 0;
}
.link-tx-2 a:hover{
    color: darkblue;
    text-decoration: none;
}
.link-tx-3 p{
    font-size: 25px;
    color: rgb(195, 195, 195);
}
.rule{
    background: #00000061;
    border-radius: 30px;
    filter: drop-shadow(11px 13px 6px black);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: auto;
    padding: 44px 66px;
}
.rule-txt ul li{
    font-size: 30px;
    color: white;
    font-family: cursive;
    filter: drop-shadow(11px 13px 6px black);
}
.rule-txt ul li span{
    color: red;
}
.rule-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rule-2 h1{
    background: linear-gradient(to left, #291fc5, #6325b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    filter: drop-shadow(11px 13px 6px black);
    margin-top: 40px;
    line-height: 55px;
}
.rule-2 h5{
    font-size: 20px;
    filter: drop-shadow(11px 13px 6px black);
    margin-bottom: 45px;
}
.guide-head h1{
    background: linear-gradient(to left, #6912ab, #8d0563);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    filter: drop-shadow(11px 13px 6px black);
}

.container-guide{
    width: 85%;
    margin: 70px auto;
    background: #00000061;
    border-radius: 30px;
    filter: drop-shadow(11px 13px 6px black);
    padding: 50px 0;
}



.guide-head{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 0px;
}
.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.guide-1 p{
    font-size: 20px;
    line-height: 25px;
    color: white;
}
.guide-1 p span{
    font-size: 45px;
    font-weight: 900;
    color: red;
    margin-left: 19px;
    display: table-cell;
}
.guide-part-2 ul li{
    line-height: 23px;
    color: tomato;
}
.top-2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}
.top-2-txt p{
    font-size: 18px;
    padding: 12px 0;
    line-height: 25px;
    color: rgb(211, 211, 211);
}
.top-3{
    display: flex;
    justify-content: center;
    padding: 28px;
}
.top-3-txt ul li{
    font-size: 20px;
    line-height: 28px;
    color: tomato;
}
.top-4-head h1{
    background: linear-gradient(to left, #6912ab, #8d0563);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    filter: drop-shadow(11px 13px 6px black);
    margin-bottom: 29px;
}
.top-4-head{
    display: flex;
    justify-content: center;
}
.top-4-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.top-4-txt p{
    font-size: 18px;
    line-height: 23px;
    padding: 5px 0;
    color: white;
}
.top-5-head h1{
    background: linear-gradient(to left, #6912ab, #8d0563);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    filter: drop-shadow(11px 13px 6px black);
}
.top-5-head{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 28px 0;
}
.join-head{
    display: flex;
    text-align: center;
    justify-content: center;
    filter: drop-shadow(11px 13px 6px black);
}
.join-head h1{
    background: linear-gradient(to left, #6912ab, #8d0563);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90px;
    filter: drop-shadow(11px 13px 6px black);
    margin: 30px 0;
}
.join-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    filter: drop-shadow(11px 13px 6px black);
}
.join-1 p{
    font-size: 30px;
    padding-bottom: 28px;
    color: white;
}
.join-1 h5{
    font-size: 20px;
    color: white;
}
.join-1 h5 a{
    color: tomato;
    margin-left: 10px;
    text-decoration: none;
}
.join-1 h5 a:hover{
    color: blue;
}
.join{
    background: #00000061;
    border-radius: 30px;
    filter: drop-shadow(11px 13px 6px black);
    width: 80%;
    margin: auto;
    padding: 35px 0;
}
.join-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin: auto;
    padding: 25px 0;
    filter: drop-shadow(11px 13px 6px black);
}
.join-2-1 ul li{
    font-size: 20px;
    line-height: 28px;
    color: tomato;
}
.join-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(11px 13px 6px black);
}
.join-3 p{
    font-size: 20px;
    padding: 3px 0;
    color: white;
}
.join-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.join-4 p{
    font-size: 25px;
    color: white;
    filter: drop-shadow(11px 13px 6px black);
    padding: 8px 0;
}
.join-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.join-5-head h2{
    background: linear-gradient(to left, #6912ab, #8d0563);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
    filter: drop-shadow(11px 13px 6px black);
    padding-top: 50px;
    padding-bottom: 16px;
}
.join-5-head h3{
    font-size: 30px;
    color: white;
    filter: drop-shadow(11px 13px 6px black);
    padding-bottom: 35px;
}
.join-5-head h3 a{
    color: tomato;
    padding-left: 23px;
}
.join-5-head h3 a:hover{
    color: blue;
    text-decoration: none;
}
.join-6{
    background: #00000061;
    border-radius: 30px;
    filter: drop-shadow(11px 13px 6px black);
    width: 50%;
    margin: 30px auto;
    padding-top: 20px;
}
.join-6-1{
    display: flex;
    justify-content: center;
}
.join-6-1 h2{
    font-size: 35px;
    background: linear-gradient(to left, #6912ab, #8d0563);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(11px 13px 6px black);
    padding-bottom: 15px;
}
.join-6-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-6-2 input{
    width: 50%;
    padding: 6px 10px;
    font-size: 18px;
    margin: 6px 0;
    color: white;
    background: none;
    border-radius: 12px;
}
.join-6-2 textarea{
    width: 50%;
    padding: 6px 10px;
    font-size: 18px;
    margin: 6px 0;
    color: white;
    background: none;
    border-radius: 12px;
}
.join-6-2 button{
    width: 27%;
    font-size: 30px;
    font-family: cursive;
    background: none;
    border-radius: 12px;
    margin: 15px 0;
    color: #9f9f9f;
}
.join-6-2 button:hover{
    border: none;
    background: linear-gradient(
45deg
, #1b9d55, #9a05e7);
cursor: pointer;
    color: white;
}